/* google fonts
	============================================================================================ */
    @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

    /* global style start
        ============================================================================================ */
    * {
      box-sizing: border-box;
    }

    body {
      font-family: "Roboto", sans-serif;
      color: #3a3434;
      font-weight: 400;
      font-size: 15px;
      margin: 0;
      padding: 0;
    }

    .let-space-08 {
      letter-spacing: 0.8px;
    }

    /* ==================== TEXT STYLE ==================== */
    .roboto-condensed {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
      }

      .roboto {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }

      .text-gold {
        color: #f9a932;
      }

      .text-green {
        color: #4ab44f;
        font-weight: 700;
      }

      .text-grey {
        color: #888888;
      }

      /* ==================== END TEXT STYLE ==================== */

    /* ==================== CLASS STYLE ==================== */
    .border-none {
      border: 0;
    }

      /* === NAVBAR === */
      .navbar-fixed {
        background-color: #ffffff;
        width: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
      }

      .navbar-dark {
        font-size: 15px !important;
        font-weight: 500 !important;
        padding: 0px;
      }

      @media (max-width: 575px) {
        .navbar-dark {
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        }
      }

      .navbar-dark ul {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
      }

      .navbar-dark .nav-item {
        font-size: 17px;
        font-weight: 500;
        padding: 17px;
      }

      .active > .nav-link{
        color: #ffffff !important;
        background-color: #f6ab2a;
        border-radius: 25px;
      }

      .nav-link {
        color: #f6ab2a !important;
        padding: 2px 10px !important;
      }

      .nav-link:hover {
        color: #ffffff !important;
        background-color: #f6ab2a;
        border-radius: 25px;
      }

      /* NAVBAR TOGGLER */
      @media (max-width: 991px) {
        /* Main Menu Area css
        ============================================================================================ */
        .navbar-toggler {
          border: none;
          border-radius: 0px;
          padding: 0px;
          cursor: pointer;
          margin-top: 27px;
          margin-bottom: 23px;
        }
        .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
          opacity: 1;
        }
        .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
          opacity: 0;
        }
        .navbar-toggler[aria-expanded="true"] span:first-child {
          transform: rotate(-45deg);
          position: relative;
          top: 7.5px;
        }
        .navbar-toggler[aria-expanded="true"] span:last-child {
          transform: rotate(45deg);
          bottom: 6px;
          position: relative;
        }
        .navbar-toggler span {
          display: block;
          width: 25px;
          height: 3px;
          background: #45b54b;
          margin: auto;
          margin-bottom: 4px;
          transition: all 400ms linear;
          cursor: pointer;
        }
      }
        /* END NAVBAR TOGGLER */
      /* === END NAVBAR ===*/

    /* ==================== END CLASS STYLE ==================== */

    /* ==================== BUTTON =================== */
    .btn-hijau {
      border: 0px;
      border-radius: 20px;
      background-color: #45b54b;
      color: #ffffff;
      font-weight: 500;
      padding: 8px 16px;
    }

    .btn-hijau:hover, .btn-hijau:active {
      background-color: #30a136;
    }

    .btn-kuning {
      border: 0px;
      border-radius: 20px;
      background-color: #f6ab2a;
      color: #ffffff;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      width: 150px;
      padding: 8px 10px;
      letter-spacing: 1.5px;
    }

    .btn-kuning:hover, .btn-kuning:active {
       background-color: #e6a029;
    }

    .list-button-program {
      padding-left: 0;
    }

    .list-button-program li {
      display: inline;
      list-style-type: none;
    }

/* ==================== END BUTTON =================== */

/*
    === MEMBERSHIP DESCRIPTION ===
*/

.description_membership {
    margin-top: 48px;
}

.description_membership__text {
    margin-top: 32px;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.8px;
    padding: 0 32px;
}

/* 768 */
@media screen and (max-width: 768px) {
    .description_membership__text {
        font-size: 16px;
        padding: 0 10px;
    }
}

/* 440 */
@media screen and (max-width: 440px) {
    .description_membership__text {
        font-size: 13px;
        padding: 0;
        letter-spacing: 0.2px;
    }
}

.img_logo_mis {
    max-width: 100px;
}

/* 440 */
@media screen and (max-width: 440px) {
    .img_logo_mis {
        max-width: 80px;
    }
}

.membership_category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 52px;
}

.membership_card {
    border: 5px solid #f9a932;
    border-radius: 15px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 12px;
    margin: 18px 8px 8px 12px;
    max-width: 300px;
}

.membership_description {
    text-align: left;
}

.membership_link {
    margin: 24px auto;
}

.membership_link a {
    background-color: #f5a14f;
    border-radius: 5px;
    padding: 13px 24px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
}

.membership_link a:hover {
    background-color: #d68e45;
}

.membership_link a:active {
    background-color: #d68e45;
}

/* 768 */
@media screen and (max-width: 768px) {
    .membership_description {
        font-size: 13px;
        letter-spacing: 0.2px;
    }

}

/* 650 */
@media screen and (max-width: 650px) {
    .membership_category {
        flex-direction: column;
    }

    .membership_item {
        margin: 12px 0 4px 0;
    }

    .membership_card {
        margin: 18px auto 8px auto;
    }
}

.membership_benefit {
    text-align: left;
}

.membership__list_benefit {
    font-size: 14px;
    padding-left: 24px;
}

.title_membership {
    margin: 24px auto;
}

/*
    === END MEMBERSHIP DESCRIPTION ===
*/
